[
  {rabbit, [
    {tcp_listen_options,
         [binary,
         {keepalive,     true},
         {packet,        raw},
         {reuseaddr,     true},
         {backlog,       128},
         {nodelay,       true},
         {exit_on_close, false}]
    },
    {loopback_users, []},
    {cluster_partition_handling, autoheal},
    {collect_statistics_interval, 30000},
    {log_levels, [{connection,info}]},
    {mnesia_table_loading_timeout, 10000}
  ]},
  {kernel, [
    {inet_default_connect_options, [{nodelay,true}]},
    {inet_dist_listen_max, 41055},
    {inet_dist_listen_min, 41055},
    {net_ticktime, 10}
  ]},
  {rabbitmq_management, [
    {rates_mode, none}
  ]},
  {rabbitmq_management_agent,[
  ]},
  {rabbitmq_shovel,
  [{shovels,[
    ]}
  ]},
  {rabbitmq_stomp,[
  ]},
  {rabbitmq_mqtt,[
  ]},
  {rabbitmq_amqp1_0,[
  ]},
  {rabbitmq_auth_backend_ldap,[
  ]}
].
